* {
  padding: 0;
  margin: 0;
}

html *, body * {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  font-family: 'Lora', serif;
}

#result {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  border: 2px solid black;
}

#result h2 {
  margin-bottom: 10px;
  font-size: 25px;
}

#result input {
  width: auto;
  margin: 10px;
  padding: 7px;
}

a {
  display: block
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 5px;
  padding: 10px;
  background-color: #FFFFFFFF;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    border: 2px solid black;
    text-decoration: none;
}

a:active {
  transform: scale(0.97);
  box-shadow: 2px 4px 23px 7px rgba(222, 88, 142, 0.25);
}

a:hover {
  background-color: rgb(85, 80, 80);
  color: white;
  box-shadow: 3px 5px 24px 8px rgba(222, 88, 142, 0.25);
  transition: 0.05s ease;
}